<div class="list-group" >
	<form class="form-horizontal" ng-submit="step.changeWindow()" >
		<div class="control-group">
			<label class="control-label">Name:</label>
			<div class="controls">
				<input type="text" ng-model="chooserCtrlPath.computedAttr_name">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Value Expression:</label>
			<div class="controls">
				<textarea>
loc = self.swc::hasLocation.first
loc ||= self.swc::isSubEventOf.map{|se| se.swc::hasLocation.first }.first
loc.nil? ? 'Auditorium' : loc.rdfs::label
				</textarea>
			</div>
		</div>
	</form>
	{{step.window.expToEval = "this.window.items.forEach(function(entry) { entry.push({id: entry.length, name: '" +
				 chooserCtrlPath.computedAttr_name +
				  "', value:['Computed " +
				   chooserCtrlPath.computedAttr_name +
				    " attribute']});});this.solution.selectedProperties.push(this.window.items[0].length-1);"
	}}
	
<h3>{{step.window.message1}}</h3>
<selected-properties></selected-properties>
</div>

