<section>
	<div class="list-group" ng-repeat="path in step.window.paths">
		<input type="radio" ng-model="step.solution.selectedOption" value="{{path.key}}">
			<div class="halign" ng-repeat="pathItem in path.pathItems | limitTo:path.pathItems.length-1">
				{{pathItem}} >&nbsp;
			</div>
			<div class="halign" >
				{{path.pathItems[path.pathItems.length-1]}}
			</div>
		</input>
	</div>
</section>

<div class="well">
	<div ng-repeat="example in step.window.paths[step.solution.selectedOption].examples" >
		{{example}}
	</div>
</div>

