<div ng-repeat="tracks in [] | track:'Event':'Person':step.example:step.isType('path')">
	{{tracks}}
</div>
<div ng-repeat="propIndex in [] | range:step.solution.selectedOptions.length">
	<div class="btn-group" dropdown is-open="chooserCtrlPath.status[propIndex]">
		<button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
			{{chooserCtrlPath.selectOption(step.solution.selectedOptions[propIndex],
			step.currentWindow.propertySets[step.solution.selectedOption][propIndex]).text}} <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu" >
			<li ng-repeat="opt in step.currentWindow.propertySets[step.solution.selectedOption][propIndex]">
				<a href ng-click="chooserCtrlPath.setOption(step, opt.key, propIndex)">{{opt.text}}</a>
			</li>
		</ul>
	</div>
</div>