<div class="list-group" >
	<form class="form-horizontal" ng-submit="step.changeWindow()" >
		<div class="control-group">
			<label class="control-label">Name:</label>
			<div class="controls">
				<input type="text" ng-model="step.computedAttr_name">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Value Expression:</label>
			<div class="controls">
				<textarea ng-model="step.computedAttr_query">
loc = self.swc::hasLocation.first
loc ||= self.swc::isSubEventOf.map{|se| se.swc::hasLocation.first }.first
loc.nil? ? 'Auditorium' : loc.rdfs::label
				</textarea>
			</div>
		</div>
	</form>
</div>

