<!doctype html>
<html ng-app="plunker">
	<head>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
		<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
		<script data-turbolinks-track="true" src="/assets/nomenclatorChooser.js?body=1"></script>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>

		<div ng-controller="DropdownCtrl as ctrl">
			<h1>{{ctrl.selectedNomenclatorChooser.message}}</h1>> <!-- Simple dropdown -->
			<!-- Single button -->
			<div class="btn-group" dropdown is-open="status.isopen">
				<button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
					Button dropdown <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li ng-repeat="choice in ctrl.selectedNomenclatorChooser.items">
						<a href>{{choice.description}}</a>
					</li>
				</ul>
			</div>

		</div>
	</body>
</html>
