<div class="list-group" >
	<div ng-repeat="item in step.window.details[step.solution.selectedOption].items">
		<div ng-repeat="prop in item" class="halign" >
			<img ng-src="{{prop.msg}}" ng-show="prop.type == 'img'"></img>
			<label ng-show="prop.type == 'text'">{{prop.msg}}</label>
		</div>
	</div>
	<br>
</div>

<h4>{{step.window.details[step.solution.selectedOption].title}}</h4>
<section>
	<ul >
		<li class="list-group-item-without-border halign" ng-repeat="opt in step.window.options" >
			<input type="radio" ng-model="step.solution.selectedOption" value="{{opt.key}}">
			{{opt.text}}
		</li>
	</ul>
</section>