<table class="table table-striped">
    <thead>
        <tr>
           <th ng-repeat="prop in step.solution.selectedProperties">
           		<input type="text" value="{{step.selectProperty(prop, step.wizard.data[step.currentWindow.example][0], step.isType('attributeForChoosing')).name}}">
           </th>
        </tr>
    </thead>
    <tbody>
    	<tr> 		
    		<td ng-repeat="prop in step.solution.selectedProperties" >
    			<div>
    				{{p = step.selectProperty(prop, step.wizard.data[step.currentWindow.example][0], step.isType('attributeForChoosing')); ""}}
		    		<input type="radio" ng-model="step.solution.selectedOption" value="{{p.id}}" ng-change="step.setModalParameterized(p.name, step.isType('attributeForChoosing'))">
		    			{{p.value[0]}}
		    		</input> 
		    		<div ng-repeat="value in p.value | limitTo: - (p.value.length - 1)">
		    			{{value}}
		    		</div>
	    		</div>
    		</td>
 
    	</tr>
    		
	    <tr ng-repeat="item in step.wizard.data[this.currentWindow.example] | limitTo: - (step.wizard.data[step.currentWindow.example].length - 1)">
            <td ng-repeat="prop in step.solution.selectedProperties">
            	<div ng-repeat="value in step.selectProperty(prop, item, step.isType('attributeForChoosing')).value">{{value}}</div>
            </td>
	    </tr>
    </tbody>
</table>