
<section>
	<div class="list-group" ng-repeat="path in [] | track:step.solution.mainClass:step.getRelatedCollectionName(step.userSequence[step.userSequence.length-1], step.isType('paths')):step.example:step.isType('paths') track by $index">
		<input type="radio" ng-model="step.solution.selectedOption" value="{{$index}}">
			<div class="halign">
				Event >&nbsp;
			</div>
			<div class="halign" ng-repeat="pathItem in path | limitTo:path.length-1 track by $index">
				{{path[$index].className}} >&nbsp;
			</div>
			<div class="halign">
				{{path[path.length-1].className}}
			</div>
		</input>
	</div>
</section>

<div class="well">
	<div ng-repeat="example in step.currentWindow.paths[step.solution.selectedOption].examples" >
		{{example}}
	</div>
</div>

