<table class="table table-striped">
    <thead>
        <tr>
           <th ng-repeat="prop in step.solution.selectedProperties">
           		<input type="text" value="{{step.selectProperty(prop, step.window.items[0]).name}}">
           </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in step.window.items">
            <td ng-repeat="prop in step.solution.selectedProperties">
            	<div ng-repeat="value in step.selectProperty(prop,item).value">{{value}}</div>
            </td>
        </tr>
    </tbody>
</table>