<!-- Single button -->
<div class="btn-group" dropdown is-open="chooserCtrl.status.isopen">
	
	<button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
		{{chooserCtrl.selectOption(step.solution.selectedOption, step.currentWindow.options).text}} <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu" >
		<li ng-repeat="opt in step.currentWindow.options">
			<a href ng-click="chooserCtrl.setOption(step, opt.key)">{{opt.text}}</a>
		</li>
	</ul>
</div>