<div ng-show="step.scope.data.length > 0">
	<div ng-show="step.scope.show == 'table'">
		<br/>
		<h3>Selected Properties</h3>
		<table class="table table-striped">
		    <thead>
		        <tr>
		           <th ng-repeat="prop in step.scope.data">
		           		<input type="text" value="{{step.scope.examples[0][prop].name}}">
		           </th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr ng-repeat="item in step.scope.examples">
		            <td ng-repeat="prop in step.scope.data">
		            	<div ng-repeat="value in item[prop].value track by $index">{{value}}</div>
		            </td>
		        </tr>
		    </tbody>
		</table>
	</div>
	<div ng-show="step.scope.show == 'details'">
		<br/>
		<h3>Selected Properties</h3>
		<div class="list-group" >
			<div ng-repeat="prop in step.scope.data" >
				<b class="list-group-item-without-border halign col-md-2">
					{{step.scope.examples[0][prop].name}}:
				</b>
				<div class="list-group-item-without-border halign">
					<div ng-repeat="value in step.scope.examples[0][prop].value">
						{{value}}
					</div>
				</div>
			</div>
			<br>
		</div>
	</div>
</div>